*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

menu ,nav ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
menu button,nav a{
border: none;
text-decoration: none;
background-color: purple;
color: aliceblue;
padding: 0.5rem;
margin: 1rem 0;
font-size: 1.2rem;


}
nav li{
 
}
menu li:first-child button, nav li:first-child a{
  padding-left: 1rem;
  border-radius: 7px 0 0 7px;
}


menu li:last-child button,
nav li:last-child a {
  padding-right: 1rem;
  border-radius: 0 7px 7px 0;
}

