*,*::after,*::before{
  box-sizing: border-box;
}

body{font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;

}

ul ul a{
  color: red;
}

ul ol ul ol li{
  border: 1px solid blue;
}
ul.nested>li{
  border: 2px dotted black;
}
ul.nested li>ol li+li{
  color: green;
  padding: 1rem;
}

[title]{
  background-color: green;
}

[title*='guess']{
  border: 5px dashed black;
}
[title^='guess']{
  background-color: orange;
}
[title$='this']{
  background-color: brown;
  color: yellow;
}
[href*='.pdf']{
    color: pink;}
[href$='.pdf']::after{
  content: '(pdf)';
}